body {
    background-color: aliceblue;
}

.container {
    background-color: white;
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.nom {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 60px;
}

.cool {
    background-color:yellow;
    margin: auto;
    width: fit-content;
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    letter-spacing: 1px;
    border-radius: 12px;
    transform: rotate(-10deg) translate(100%, -10%);
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.mp {
}

.pp {
}
